.form {
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;

  @media (min-width: $tablet-width) {
    padding-left: $tablet-padding + 40px;
    padding-right: $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }
}

.form__title {
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__section {
  position: relative;
  margin: 0;
  border: none;
}

.form__additional-products {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  .input-container {
    @media (min-width: $tablet-width) {
      width: calc(50% - 30px);
      margin-right: 60px;
    }

    @media (min-width: $desktop-width) {
      width: calc(25% - 60px);
      margin-right: 80px;
    }
  }

  .input-container:nth-child(2n) {
    @media (min-width: $tablet-width) {
      margin-right: 0;
    }

    @media (min-width: $desktop-width) {
      margin-right: 80px;
    }
  }

  .input-container:nth-child(4n) {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  position: relative;

  .text-input {
    flex-grow: 1;
  }

  &--email {
    position: relative;

    @media (min-width: $desktop-width) {
      margin-right: 80px;
    }
  }

  &--tel {
    position: relative;
  }

  &--tel::after,
  &--email::after {
    content: "";
    display: block;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--tel::after {
    right: 12px;
    width: 20px;
    height: 20px;
    background-image: url("../../img/icon-phone.svg");
  }

  &--email::after {
    right: 17px;
    width: 17px;
    height: 13px;
    background-image: url("../../img/icon-mail.svg");
  }
}

.form__email-and-tel {
  @media (min-width: $desktop-width) {
    display: flex;
  }

  .input-container {
    @media (min-width: $desktop-width) {
      width: calc(50% - 40px);
      margin-right: 80px;
    }
  }

  .input-container:last-child {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
}

.input-container--email,
.input-container--tel {
  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.form__fieldset-legend {
  max-width: 155px;
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 20px;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    max-width: 520px;

    font-size: 36px;
    line-height: 36px;
  }

  &::after {
    @include heading-line();
  }
}

.form__comments {
  width: 100%;
  box-sizing: border-box;
}

.form__submit-and-subtitles {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__submit-btn,
.form__subtitles {
  @media (min-width: $tablet-width) {
    width: calc(50% - 30px);
  }

  @media (min-width: $desktop-width) {
    width: calc(50% - 40px);
  }
}

.form__submit-btn {
  @media (min-width: $tablet-width) {
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.form__subtitles {
  text-align: center;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.form__email::after {
  content: "";
  display: block;
  width: 17px;
  height: 13px;
  border: 1px solid red;
}

.form__cats-data {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.form__cat-info {
  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.form__legend-container {
  position: relative;
}

.form__program-info {
  margin: 0;
}
