.form {
  // TODO: how to use $tablet-padding + 40px; ???
  @include add-side-paddings($tablet-padding-left: 70px);
}

.form__title {
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__section {
  position: relative;
  margin: 0;
  border: none;
}

.form__additional-products {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-padding) {
    margin-bottom: 29px;
  }

  .input-container {
    @media (min-width: $tablet-width) {
      width: calc(50% - 30px);
      margin-right: 60px;
      margin-bottom: 32px;
    }

    @media (min-width: $desktop-width) {
      width: calc(25% - 60px);
      margin-right: 80px;
    }
  }

  .input-container:nth-child(2n) {
    @media (min-width: $tablet-width) {
      margin-right: 0;
    }

    @media (min-width: $desktop-width) {
      margin-right: 80px;
    }
  }

  .input-container:nth-child(4n) {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .text-input {
    flex-grow: 1;
  }

  &--email {
    position: relative;

    @media (min-width: $desktop-width) {
      margin-right: 80px;
    }
  }

  &--tel {
    position: relative;
  }
}

.form__email-icon {
  display: block;
  position: absolute;
  right: 17px;
  width: 17px;
  height: 17px;
}

.form__tel-icon {
  display: block;
  position: absolute;
  right: 12px;
  width: 20px;
  height: 20px;
}

.form__email-icon-path,
.form__tel-icon-path {
  fill: $header-color;
}

.text-input:focus + .form__email-icon .form__email-icon-path,
.text-input:focus + .form__tel-icon .form__tel-icon-path {
  fill: $green;
}

.text-input--error + .form__email-icon .form__email-icon-path,
.text-input--error + .form__tel-icon .form__tel-icon-path {
  fill: $input-border-color-error;
}

.form__email-and-tel {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
  }

  .input-container {
    @media (min-width: $desktop-width) {
      width: calc(50% - 40px);
      margin-right: 80px;
    }
  }

  .input-container:last-child {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
}

.form__label {
  margin-right: 15px;

  &--email,
  &--phone {
    margin-right: 10px;
  }
}

.input-container--email,
.input-container--tel {
  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.form__fieldset-legend {
  position: relative;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 24px;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    margin-bottom: 70px;
    font-size: 36px;
    line-height: 36px;
  }

  &::before {
    @include add-heading-line();
    left: calc(100% + 24px);

    @media (min-width: $tablet-width) {
      left: calc(100% + 40px);
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      @include add-heading-line();
      right: calc(100% + 40px);
    }
  }
}

.form__comments {
  width: 100%;
  margin-bottom: 21px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__submit-and-subtitles {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.form__submit-btn,
.form__subtitles {
  @media (min-width: $tablet-width) {
    width: calc(50% - 30px);
  }

  @media (min-width: $desktop-width) {
    width: calc(50% - 40px);
  }
}

.form__submit-btn {
  font-size: 16px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.form__subtitles {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    text-align: left;
  }
}

.form__email::after {
  content: "";
  display: block;
  width: 17px;
  height: 13px;
  border: 1px solid red;
}

.form__cats-data {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 79px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-bottom: 73px;
  }
}

.form__cat-info,
.form__program-info {
  @media (min-width: $desktop-width) {
    width: calc(50% - 40px);
  }
}

.form__cat-info {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 80px;
  }
}

.form__program-info {
  margin: 0;
  padding: 0;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-left: 26px;

    border-left: 1px solid $light-grey;
  }

  @media (min-width: $desktop-width) {
    border: 1px solid $light-grey;
  }

  &::before {
    content: "";
    position: relative;
    display: block;
    width: 100vw;
    top: -20px;
    left: -20px;
    border-top: 1px solid $light-grey;

    @media (min-width: $tablet-width) {
      top: -24px;
      left: -26px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: relative;
    display: block;
    width: 100vw;
    left: -20px;
    margin-top: 20px;
    border-top: 1px solid $light-grey;

    @media (min-width: $tablet-width) {
      left: -26px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  .input-container {
    margin-bottom: 13px;
  }
}

.form__legend-container {
  display: flex;
}

.form__cats-data-legend {
  max-width: 185px;

  @media (min-width: $tablet-width) {
    max-width: none;
  }
}
