$font-family: "Oswald", "Arial", sans-serif;

.btn {
  width: 100%;
  display: inline-block;
  padding: 11px 0;
  font-family: $font-family;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $green;
  border: none;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 20px;
    line-height: 20px;
    padding: 15px 26px;
  }

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $dark-green;
  }
}
