.label {
  margin-right: 15px;
  font-size: 16px;
  font-family: $header-font-family;
  color: $header-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &--required::after {
    content: "*";
  }

  &--radio {
    margin-left: 46px;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      margin-left: 60px;
      line-height: 40px;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--checkbox {
    margin-left: 46px;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      margin-left: 60px;
      line-height: 40px;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
