.text-input {
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 15px;
  font-family: $header-font-family;
  font-size: 16px;
  line-height: 18px;
  border-width: 1px;
  border-style: solid;
  border-color: $input-border-color;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
  }

  &::placeholder {
    text-transform: uppercase;
  }

  &:hover {
    border-color: $input-border-color-hover;
  }

  &:focus {
    outline: none;
    border-color: $input-border-color-active;
    box-shadow: 0 0 0 1px $input-border-color-active;
  }

  &--invalid {
    outline: none;
    border-color: $input-error-color;
    box-shadow: 0 0 0 1px $input-error-color;
  }
}
