.main-nav {
  flex-grow: 1;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  &--closed {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--no-js {
    display: block;
  }
}
