@mixin add-side-paddings(
  $mobile-padding-left: 20px,
  $mobile-padding-right: 20px,
  $tablet-padding-left: 30px,
  $tablet-padding-right: 30px,
  $desktop-padding-left: 110px,
  $desktop-padding-right: 110px
) {
  padding-left: $mobile-padding-left;
  padding-right: $mobile-padding-right;

  @media (min-width: $tablet-width) {
    padding-left: $tablet-padding-left;
    padding-right: $tablet-padding-right;
  }

  @media (min-width: $desktop-width) {
    padding-left: $desktop-padding-left;
    padding-right: $desktop-padding-right;
  }
}
