.extra {
  position: relative;
  padding-left: $side-padding;
  padding-right: $side-padding;
}

.extra__title {
  margin-top: 31px;
  margin-bottom: 31px;
  font-size: 24px;
  line-height: 24px;

  // need to do it the same way as form legends😉
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    right: 0;
    width: 53px;
    height: 3px;
    background-color: $green;
  }
}

.extra__item {
  padding-left: 0;
  padding-right: 0;

  &:last-child {
    border-bottom: none;
  }
}

.extra__item-title {
  max-width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.extra__promo {
  padding-top: 190px;
  padding-bottom: 48px;
  background-color: #68b738;
  background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@1x.jpg");
  background-size: 55px 60px, 100% 100%;
  background-position: center 65px, center top;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
}

.extra__promo-title {
  max-width: 160px;
  margin: 0 auto;
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
}
