.product {
  margin: 0;
  padding: 0;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
  padding-bottom: 24px;
  border-bottom: $border;

  @media (min-width: $tablet-width) {
    width: calc(50% - 30px);
    box-sizing: border-box;
    margin-top: 140px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: none;
    background-color: $light-grey;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 0;
    box-sizing: border-box;
    width: 245px;
    margin-top: 140px;
    margin-right: 80px;
    border-bottom: none;
    background-color: $light-grey;
  }

  &:first-child {
    border-top: $border;
  }
}

.product:nth-child(2n + 1) {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    margin-right: 60px;
  }
}

.product:nth-child(4n + 4) {
  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.product__wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: stretch;
  }
}

.product__picture {
  max-width: 140px;
  max-height: 144px;

  @media (min-width: $tablet-width) {
    max-width: 324px;
    max-height: 208px;
  }

  @media (min-width: $tablet-width) {
    max-width: 245px;
    max-height: 208px;
  }
}

.product__image {
  align-self: center;
  width: 140px;
  max-width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product:nth-child(2n + 1) .product__image {
  @media (min-width: $tablet-width) {
    margin-top: -46px;
  }
}

.product:nth-child(2n) .product__image {
  @media (min-width: $tablet-width) {
    margin-top: -82px;
  }
}

.product__descr {
  padding-top: 5px;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    padding-left: 38px;
    padding-right: 38px;
  }
}

.product__title {
  max-width: 90px;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}

.product__info {
  width: 100%;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    font-size: 16px;
    border-collapse: collapse;
  }
}

.product__property,
.product__value {
  padding: 0;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $grey;
  }
}

.product__property {
  text-align: left;
}

.product__value {
  text-align: right;
}

.product__value--price {
  text-transform: uppercase;
}

.product__buy-btn {
  font-size: 16px;

  @media (min-width: $tablet-width) {
    // TODO: why sass variables can't be used in calc functions? ❓
    width: calc(100% - 60px);
    padding-top: 13px;
    padding-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    // TODO: why sass variables can't be used in calc functions? ❓
    width: calc(100% - 76px);
  }
}
