.product {
  margin: 0;
  padding: 0;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
  padding-bottom: 24px;
  border-bottom: $border;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    margin-top: 140px;
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
    border-bottom: none;
    background-color: $light-grey;
  }

  &:first-child {
    border-top: $border;
  }
}

.product:nth-child(2n + 1) {
  @media (min-width: $tablet-width) {
    margin-right: 60px;
  }
}

.product__wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: stretch;
  }
}

.product__image {
  align-self: center;
  width: 140px;
  height: 144px;
}

.product:nth-child(2n + 1) .product__image {
  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
    margin-top: -46px;
  }
}

.product:nth-child(2n) .product__image {
  @media (min-width: $tablet-width) {
    width: 195px;
    height: 208px;
    margin-top: -82px;
  }
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}

.product__descr {
  flex-grow: 1;
}

.product__info {
  width: 100%;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    font-size: 16px;
    border-collapse: collapse;
  }
}

.product__property,
.product__value {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $grey;
  }
}

.product__property {
  text-align: left;
}

.product__value {
  text-align: right;
}

.product__value--price {
  text-transform: uppercase;
}

.product__buy-btn {
  @media (min-width: $tablet-width) {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }
}
