@import "fonts";

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$grey: #444444;
$black: #111111;
$white: #ffffff;
$green: #68b738;
$dark-green: #5eaa2f;
$light-grey: #f2f2f2;
$dark-grey: #ebebeb;
$copyright-color: $grey;
$cat-green: #64a83b;

// text-input border-color
$input-border-color: #e6e6e6;
$input-border-color-hover: #cdcdcd;
$input-border-color-active: $grey;
$input-error-color: #ff8282;

$mobile-padding: 20px;
$tablet-padding: 30px;
$desktop-padding: 110px;

$mobile-max-width: 320px;

$bg-color: $white;

$font-family: arial, sans-sefif;
$font-size: 14px;
$line-height: 18px;
$color: $grey;

$header-font-family: "Oswald", arial, sans-sefif; // probably should rename variable, because this font-family is used also for links
$header-color: $black;

$border: 1px solid #e6e6e6;

.page {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
  line-height: $line-height;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}
