.contacts {
  line-height: 0;

  @media (min-width: $tablet-width) {
    background-color: $light-grey;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    background-color: $white;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
  padding-bottom: 26px;
  line-height: 20px;
  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-right: 65px;
    padding-bottom: 66px;
    padding-left: 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    box-sizing: border-box;
    width: 570px;
    height: 201px;
    padding-left: 76px;
    padding-right: 90px;
    background-color: $white;
    z-index: 1;
  }
}

.page--index .contacts__wrapper {
  background-color: $white;
}

.contacts__title {
  max-width: 125px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__address {
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__map-container {
  width: 100%;
  background-color: $light-grey;
}

.contacts__map {
  position: relative;
  width: 320px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  background-color: $light-grey;
  text-align: center;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.contacts__yandex-map {
  width: 100%;
  height: 360px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  &--no-js {
    display: none;
  }
}

.contacts__map-image {
  width: 320px;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 767px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.contacts__map-pin {
  position: absolute;
  top: 185px;
  left: 136px;
  width: 55px;
  height: 53px;
  font-size: 0;
  background-image: url("../img/map-pin.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 55px auto;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 106px;
    background-size: 113px auto;
    top: 153px;
    left: 339px;
  }

  @media (min-width: $desktop-width) {
    top: 160px;
    left: 1005px;
  }
}
