@import "logo";
@import "copyright";

$footer-border-bottom: 1px solid #d9d9d9;

.page-footer {
  @include add-side-paddings();
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
  }
}

.page-footer__logo {
  margin: 0;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 26px;
  border-bottom: $footer-border-bottom;

  // TODO: probably should style it using class😉
  .page-footer__logo-group {
    fill: $black;
  }

  &:hover {
    .page-footer__logo-group {
      opacity: 0.8;
    }
  }

  &:active {
    .page-footer__logo-group {
      opacity: 0.6;
    }
  }
}

.page-footer__cat-energy {
  width: 128px;
  height: 24px;
}

.page-footer__social {
  padding-top: 23px;
  padding-bottom: 21px;
  border-bottom: $footer-border-bottom;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
    border: none;
  }
}

.page-footer__copyright {
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
  }
}

.social__link {
  &:hover {
    & .social__logo {
      fill: $green;
    }
  }

  &:active {
    & .social__logo {
      fill: $green;
      opacity: 0.3;
    }
  }
}

.social__vk {
  width: 22px;
  height: 12px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 16px;
  }
}

.social__igm {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__fb {
  width: 10px;
  height: 19px;

  @media (min-width: $tablet-width) {
    width: 14px;
    height: 28px;
  }
}

.copyright__text {
  color: $grey;

  &:hover {
    color: $grey;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  .copyright__logo-path {
    fill: $copyright-color;
  }

  &:hover {
    .copyright__logo-path {
      fill: $green;
    }
  }

  &:active {
    .copyright__logo-path {
      fill: $green;
      opacity: 0.3;
    }
  }
}
