.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-left: $side-padding;
  padding-right: $side-padding;
  padding-bottom: 16px;
  border-bottom: $border;
}

.page-header__logo {
  width: 191;
  height: 38;
  line-height: 0;
}

.page-header__open,
.page-header__close {
  display: none;
}

.page-header__toggle {
  line-height: 0;
  vertical-align: center;
  border: none;
  background-color: $bg-color;
  cursor: pointer;

  &--opened .page-header__close {
    display: block;
  }

  &--closed .page-header__open {
    display: block;
  }
}
