$border: 1px solid #e6e6e6;

.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-left: 96px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
  }
}

.site-list__item {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: $header-font-family;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-top: $border;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 18px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 35px;
    font-size: 20px;
  }

  &:last-child {
    border-bottom: $border;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }
}

.site-list__link {
  color: $header-color;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    color: $header-color;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    padding-bottom: 10px;
    border-bottom: 2px solid $green;
  }
}

.page--index .site-list__link {
  @media (min-width: $desktop-width) {
    color: $white;
  }

  &--active {
    @media (min-width: $desktop-width) {
      padding-bottom: 10px;
      border-bottom: 2px solid $white;
    }
  }
}
