.social {
  font-size: 0;
  line-height: 0;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  &:nth-child(2) {
    margin-left: 37px;
  }

  &:nth-child(3) {
    margin-left: 40px;
  }
}

.social__logo {
  fill: #666666;
}
