.advantages {
  padding-top: 32px;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    padding-top: 79px;
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }
}

.advantages__title {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
    font-size: 60px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.advantages__item {
  position: relative;
  box-sizing: border-box;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 50%;
    min-height: 228px;
    margin-bottom: 90px;
    padding-top: 117px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    margin-right: 80px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: $green;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px auto;

    @media (min-width: $tablet-width) {
      top: 0;
      width: 80px;
      height: 80px;
      background-size: 80px auto;
    }
  }

  &:nth-child(1)::before {
    background-image: url("../../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-leaf@2x.png");
    }
  }

  &:nth-child(2)::before {
    background-image: url("../../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-powder@2x.png");
    }
  }

  &:nth-child(3)::before {
    background-image: url("../../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-dining@2x.png");
    }
  }

  &:nth-child(4)::before {
    background-image: url("../../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-clock@2x.png");
    }
  }

  &::after {
    position: absolute;
    top: 90px;
    left: 125px;
    display: none;
    font-family: $header-font-family;
    font-size: 281px;
    color: $light-grey;
    z-index: -1;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &:nth-child(1)::after {
    content: "1";
  }

  &:nth-child(2)::after {
    content: "2";
  }

  &:nth-child(3)::after {
    content: "3";
  }

  &:nth-child(4)::after {
    content: "4";
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
}
