@import "../base";

$link-color: #111111;

.category {
  position: relative;
  margin-bottom: 20px;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 19px;
  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
    padding: 60px 55px;
    padding-left: 52px;
    padding-right: 275px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin-bottom: 0;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 34px;
  }

  &:nth-child(2) {
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      margin-left: 80px;
    }
  }
}

.category__title {
  margin-bottom: 25px;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 71px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-bottom: 2px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
    padding-left: 162px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 20px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: $green;

    @media (min-width: $tablet-width) {
      left: auto;
      top: 92px;
      right: 62px;
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }

    @media (min-width: $desktop-width) {
      top: 47px;
      right: auto;
      left: 52px;
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--slim::after {
    top: 22px;
    left: 30px;
    width: 35px;
    height: 49px;
    background-image: url("../../img/icon-cat-slim.svg");

    @media (min-width: $tablet-width) {
      left: auto;
      top: 80px;
      right: 92px;
      width: 140px;
      height: 194px;
    }

    @media (min-width: $desktop-width) {
      top: 41px;
      right: auto;
      left: 66px;
      width: 70px;
      height: 97px;
    }
  }

  &--pro::after {
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../../img/icon-cat-pro.svg");

    @media (min-width: $tablet-width) {
      top: 135px;
      left: auto;
      right: 28px;
      width: 268px;
      height: 112px;
    }

    @media (min-width: $desktop-width) {
      top: 69px;
      left: 34px;
      right: auto;
      width: 134px;
      height: 56px;
    }
  }
}

.category__description {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
    padding-bottom: 0;
  }
}

.category__link {
  font-family: $header-font-family;
  font-size: 16px;
  line-height: 16px;
  color: $link-color;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);

    .category__link-arrow-icon {
      opacity: 0.3;
    }
  }
}

.category__link-arrow-icon {
  margin-left: 8px;
  fill: $header-color;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
    margin-bottom: 4px;
    display: inline-block;
  }
}

.category__description-br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
