@import "../base";

$link-color: #111111;

.category {
  position: relative;
  margin-bottom: 20px;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    padding: 60px 55px;
    padding-right: 275px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin-bottom: 0;
    padding-left: 52px;
    padding-right: 52px;
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      margin-left: 80px;
    }
  }
}

.category__title {
  margin-bottom: 25px;
  padding-top: 17px;
  padding-bottom: 12px;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    display: block;
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 25px;

    @media (min-width: $tablet-width) {
      top: 50px;
      right: 20px;
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }

    @media (min-width: $desktop-width) {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.category__title-slim::before {
  background-image: url("../../img/icon-cat-slim.svg");
}

.category__title-pro::before {
  background-image: url("../../img/icon-cat-pro.svg");
}

.category__description {
  margin: 0;
  margin-bottom: 23px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.category__link {
  font-family: $header-font-family;
  font-size: 16px;
  line-height: 16px;
  color: $link-color;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.category__link-arrow-icon {
  margin-left: 14px;
  fill: $header-color;
}
