.example {
  padding-top: 32px;
  padding-bottom: 38px;
  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }
}

.example__title {
  margin-bottom: 34px;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.example__second-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example__before-after {
  text-align: center;
}

.example__description-facts {
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.example__facts {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 38px;
}

.example__fact {
  width: 122px;
  position: relative;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }
}

.example__fact-name {
  padding-top: 16px;
  padding-bottom: 17px;
  font-family: $header-font-family;
  font-size: 24px;
  line-height: 24px;
  color: $header-color;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-right: 57px;
    padding-bottom: 23px;
    padding-left: 57px;
    font-size: 30px;
    border-radius: 2px;
  }
}

.example__fact:nth-child(2) .example__fact-name {
  @media (min-width: $tablet-width) {
    padding-left: 27px;
    padding-right: 27px;
  }
}

.example__fact-description {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  background-color: $light-grey;
  font-size: 12px;
  line-height: 12px;
  color: $color;
  text-align: center;

  @media (min-width: $tablet-width) {
    bottom: -5px;
    min-width: 150px;
    font-size: 14px;
    line-height: 14px;
  }
}

.example__costs {
  text-align: center;
  font-family: $header-font-family;
  line-height: 20px;
  font-weight: normal;
  color: $header-color;
  text-transform: uppercase;
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.example__image {
  width: 320px;
  height: auto;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    width: 690px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
  }
}

.example__image-description {
  display: flex;
  font-family: $header-font-family;
  font-size: 16px;
  line-height: 20px;
  color: $header-color;
  text-transform: uppercase;
  justify-content: space-around;
}

.example__before,
.example__after {
  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
