@import "../button";
@import "../base";

$color: #ffffff;

.slogan {
  padding-top: 30px;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
  padding-bottom: 22px;
  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-position: center 168px, center top;
  background-repeat: no-repeat, no-repeat;
  background-color: $color; // color and bg-color are same. possible issues if bg-image won't download.
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
    padding-right: $tablet-padding;
    padding-bottom: 539px;
    padding-left: $tablet-padding + 90px;
    text-align: left;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: center 259px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 113px;
    padding-right: $desktop-padding;
    padding-bottom: 387px;
    padding-left: $desktop-padding + 83px;
    background-image: url("../img/index-can-desktop@1x.png"), url("../img/index-background-desktop@1x.jpg");
    background-position: center 200px, right -69px;
  }
}

.slogan__title {
  color: $color;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    font-size: 60px;
    line-height: 60px;
    color: $header-color;
  }
}

.slogan__description {
  margin-bottom: 300px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $color;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
    font-size: 20px;
    line-height: 20px;
    color: $header-color;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.slogan__img {
  width: 280px;
  height: 270px;
  margin-top: 29px;
}

.slogan__btn {
  color: $color;
}
