@import "../button";
@import "../base";

$color: #ffffff;

.slogan {
  padding-top: 30px;
  padding-left: $side-padding;
  padding-right: $side-padding;
  padding-bottom: 22px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $color; // color and bg-color are same. possible issues if bg-image won't download.
  text-align: center;
}

.slogan__title {
  color: $color;
}

.slogan__description {
  margin-top: 18px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $color;
}

.slogan__img {
  width: 280px;
  height: 270px;
  margin-top: 29px;
}

.slogan__btn {
  color: $color;
}
